*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.lof
*.lot
*.bbl
*.blg
*.nav
*.snm
*.vrb

proyFisioManager/**/figuras/.diagrams.stamp

proyFisioManager/Requerimientos/Requerimientos.pdf
proyFisioManager/ModAnalisis/ModAnalisis.pdf
proyFisioManager/ModDiseño/ModDiseno.pdf
proyFisioManager/narrativa/narrativa.pdf
